@use "./Variables" as v;

.section{
    width:70vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .container{
        max-width: 100%;
        background-color: v.$backgroundBeige;
        border-radius: 20px;
        padding: 4em;
        .title{
            font-size: 60px;
            margin: 0;
        }
        .presentation{
            display: flex;
            width:100%;
            .paragraph{
                font-family: "Inria";
                font-size: 25px;
                padding-right:2em;
                width:55%;
            }
            .imageContainer {
                width: 35%;
                margin: auto;
                border-radius: 50%;
                .imageWrapper{
                    height:0;
                    padding-bottom: 100%;
                    background: rgba(235, 94, 40);
                    background-size: 100%;
                    border-radius: 50%;
             
                    &:hover{
                    // cursor: pointer;
                    }
                        .photo{
                            width:100%;
                            border-radius: 50%;
                            box-shadow: 10px 10px 10px 0px rgba(37, 36, 34, 0.50);
                            opacity: 0.6;
                            transition: opacity 0.3s ease-in-out;
                            &:hover{
                            opacity: 1;
                            }
                    }             
            }}
            
            
        }
    }
}

@media (max-width: v.$bp-laptop){
    .section{
        width: 70vw;
        .container{
            .title{
                font-size: 50px;
              
            }
            .presentation{
                .paragraph{
                    font-size: 18px;
                    width: 60%;
                }
                .imageContainer{
                    width: 40%;
                }
            }
        }
       
    }
}

@media (max-width: v.$bp-tablet){
    .section{
        width: 90vw;
        .container{
            width:80%;
            padding:2em 1em;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title{
                font-size: 40px;  
            }
            .presentation{
                flex-direction: column-reverse;
                align-items: center;
                width:100%;
                .paragraph{
                    font-size: 18px;
                    width: 90%;
                    text-align: center;
                    padding-right: 0;
                }
                .imageContainer{
                    width: 70%;
                }
            }
        }
       
    }
}

