@font-face {
    font-family: "Allerta";
    src: url("../assets/Fonts/AllertaStencil-Regular.ttf");
  }
  
@font-face {
    font-family: "Inria";
    src: url("../assets/Fonts/InriaSans-Regular.ttf");
  }

$dark: #252422;
$backgroundBeige: #F3EEE6;
$beige: #ccc5B9;
$peachGradient: linear-gradient(90deg, #EB5E28 0%, #F2A187 65.09%);
$peach: #EB5E28;



.app-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: $dark ;
   
  }

  .sections{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

h1 {
    font-family: "Allerta";
    width: fit-content;
    background: $peachGradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}