@font-face {
  font-family: "Allerta";
  src: url("../assets/Fonts/AllertaStencil-Regular.ttf");
}
@font-face {
  font-family: "Inria";
  src: url("../assets/Fonts/InriaSans-Regular.ttf");
}
.submissionConfirmation {
  font-family: "Inria";
  font-weight: 700;
  background: linear-gradient(to right, #EB5E28 0%, #F2A187 65.09%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  text-align: center;
  margin-bottom: 3em;
}

.section {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section .title {
  font-size: 60px;
}
.section .paragraph {
  font-family: "Inria";
  color: #ccc5B9;
  font-size: 25px;
  text-align: center;
  margin-bottom: 3em;
}
.section .form {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.section .form .label {
  font-family: "Inria";
  color: #ccc5B9;
  font-size: 1.5em;
  margin-bottom: 1em;
}
.section .form .input {
  background-color: #F3EEE6;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  padding: 0 1em;
  border: none;
  margin-bottom: 1.5em;
  outline-color: none;
  font-family: "Inria";
  font-size: 20px;
  color: #252422;
}
.section .form .input:focus {
  outline: none;
}
.section .form .textArea {
  background-color: #F3EEE6;
  border-radius: 10px;
  width: 100%;
  height: 150px;
  padding: 1em 1em;
  border: none;
  margin-bottom: 1.5em;
  outline-color: none;
  font-family: "Inria";
  font-size: 20px;
  color: #252422;
}
.section .form .textArea:focus {
  outline: none;
}
.section .form .error {
  font-family: "Inria";
  color: #EB5E28;
  font-size: 20px;
  margin-bottom: 1em;
}
.section .form .buttonBox {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2em 0;
}
.section .form .buttonBox .button {
  position: relative;
  padding: 0.8em 4em;
  border: none;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
  background: linear-gradient(90deg, #EB5E28 0%, #F2A187 65.09%);
  isolation: isolate;
}
.section .form .buttonBox .button::before {
  border-radius: 50px;
  content: "";
  background-color: #252422;
  inset: 2px;
  position: absolute;
  z-index: -1;
}
.section .form .buttonBox .button::after {
  content: "Submit";
  font-size: 24px;
  font-family: "Inria";
  font-weight: 700;
  background: linear-gradient(to left, #EB5E28 0%, #F2A187 65.09%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section .form .buttonBox .button:hover::before {
  inset: 0px;
  opacity: 0%;
}
.section .form .buttonBox .button:hover::after {
  -webkit-text-fill-color: #252422;
}

@media (max-width: 1200px) {
  .submissionConfirmation {
    font-family: "Inria";
    font-weight: 700;
    background: linear-gradient(to right, #EB5E28 0%, #F2A187 65.09%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    text-align: center;
    margin-bottom: 3em;
  }
  .section {
    width: 600px;
  }
  .section .title {
    font-size: 50px;
  }
  .section .paragraph {
    font-size: 20px;
    margin-bottom: 2em;
  }
  .section .form {
    width: 300px;
  }
  .section .form .label {
    font-size: 1.2em;
    margin-bottom: 1em;
  }
  .section .form .input {
    height: 40px;
    font-size: 18px;
  }
  .section .form .textArea {
    height: 100px;
    font-size: 18px;
  }
  .section .form .error {
    font-size: 18px;
    margin-bottom: 1em;
  }
  .section .form .buttonBox {
    margin: 1em 0;
  }
  .section .form .buttonBox .button {
    padding: 0.5em 3em;
  }
  .section .form .buttonBox .button::after {
    font-size: 20px;
  }
}/*# sourceMappingURL=GetInTouch.module.css.map */