@use "./Variables" as v;

.container{
    width:70vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7em;
  
       
    .title{
        text-align: left;
        font-size: 5em;
       
    }
    .paragraph{
        font-family: "Inria";
        font-size: 3.5em;
        color:v.$beige;
        width:80%;
        margin-bottom: 4.5em; 
    }
}

@media (max-width: v.$bp-laptop){
    .container{  
        .title{    
            font-size: 4em;
        }
        .paragraph{
            font-size: 3em;
            margin-bottom: 4.5em; 
        }
    }
}

@media (max-width: v.$bp-tablet){
    .container{ 
        margin-top: 4em; 
        .title{    
            font-size: 35px;
        }
        .paragraph{
            font-size: 1.2em;
            margin-bottom: 4em; 
        }
    }
}


