@use "./Variables" as v;

.projectCardLeft{

    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-bottom: 4em;
    border: solid 2px v.$beige;
    border-radius: 10px;    
        
   

        .imageContainer {
            
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
                   
            .imageWrapper{
                box-sizing: border-box;
                width:100%;
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                padding:1em;
                .photo{
                    width: 100%;
                    border-radius: inherit;
                    vertical-align: top;
                }
                
            }
           
            
        }
       
        .title{
            font-size: 25px;
            margin:0.5em 1em;
        }
        .description{
            text-align: start;
            color:v.$beige;
            font-family: "Inria";
            font-size: 15px;
            padding: 1em;
            border-radius: 20px ;
         
        }
        .technoBox{
            display:flex;
            flex-wrap: wrap;
            justify-content: start;
            margin: 0.5em 0.5em;
                                 
            .techno{
                background: v.$peachGradient;
                font-family: "Inria";
                font-weight: 700px;
                font-size: 15px;
                color: v.$dark;
                border-radius: 10px;
                padding: 0.2em 0.5em ;
                margin: 0.5em 0.5em;
            }
        }
        .icons{
            display: flex;
            align-items: center;
            height:100%;
            font-weight: 700;
            padding-right: 0.5em;
            padding-bottom: 0.5em;
            .link{
                margin-left:1em;
                color: v.$beige;
               
            }
        }
        
    }


.animatePhoto{
    animation-duration: 2s;
    animation-name: animate-photo;
}

@keyframes animate-photo{
    0%{
        transform: translate(100%);
        opacity:0;
    }
    100%{
        transform: translate(0);
    }
}

.animateInfo{
    animation-duration: 2s;
    animation-name: animate-info;
}

@keyframes animate-info{
    0%{
        transform: translate(-100%);
        opacity:0;
    }
    100%{
        transform: translate(0);
    }
}


 



