@use "./Variables" as v;

.projectCardRight{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2em;
    .imageContainer {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
               
        .imageWrapper{
            box-sizing: border-box;
            width:100%;
            position: relative;
            border-radius: 20px;
            overflow: hidden;
            &:hover{
                z-index: 3;
            }
            .photo{
                width: 100%;
                border-radius: inherit;
                vertical-align: top;
            }
        }
        .imageWrapper::after{
            content:"";
            position: absolute;
            inset:0;
            background-color: v.$peach;
            opacity: 0.4;
            z-index: 1;
        }
        :hover.imageWrapper::after{
            opacity: 0;
            cursor: pointer;
            transition: opacity 0.3s ease-in-out;
        }
        
    }
    
   
    .infos{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:end;
        width:50%;
        gap:1.5em;
        .title{
            font-size: 35px;
            margin:0;
            padding-right: 0.5em;
        }
        .description{
            text-align: end;
            background-color: v.$backgroundBeige;
            font-family: "Inria";
            font-size: 18px;
            padding: 1.5em;
            border-radius: 20px ;
            width: 95%;
            z-index: 1;
        }
        .technoBox{
            display:flex;
            justify-content: space-around;
            width: 100%;
            .techno{
                font-family: "Inria";
                font-weight: 700px;
                font-size: 22px;
                color: v.$beige;
                margin:0;
            }
        }
        .icons{
            display: flex;
            align-items: center;
            height:100%;
            font-weight: 700;
            padding-right: 0.5em;
            .link{
                margin-left:1em;
                color: v.$beige;
                &:hover{
                    color:v.$peach;
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }
        
    }
}

.animatePhoto{
    animation-duration: 2s;
    animation-name: animate-photo;
}

@keyframes animate-photo{
    0%{
        transform: translate(-100%);
        opacity:0;
    }
    100%{
        transform: translate(0);
    }
}

.animateInfo{
    animation-duration: 2s;
    animation-name: animate-info;
}

@keyframes animate-info{
    0%{
        transform: translate(100%);
        opacity:0;
    }
    100%{
        transform: translate(0);
    }
}

@media (max-width: v.$bp-laptop){
    .projectCardRight{
        .imageContainer {
            width: 60%;                  
        }
        .infos{       
            gap:1em;
            .title{
                font-size: 25px;
                
            }
            .description{
                font-size: 15px;
                padding: 1.5em; 
                width:100%
            }
            .technoBox{
                .techno{
                    font-size: 18px;
                }
            }
        }
    }    

}